<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VPN Transparency Report</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <!-- Leaflet for Geospatial View -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <!-- Chart.js for Timeline View -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- vis.js for Relationship Graph -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.22.0/cytoscape.min.js"></script>
    <!-- Source code analysis -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css">
    <style>
body {
	background-color: var(--bg-color);
        color: var(--text-color);
	transition: background-color 0.3s, color 0.3s;
        font-family: Arial, sans-serif;
        margin: 0;
        height: 100vh;
    }

#content {
	width: 80%; /* Main content takes up the remaining width */
        padding: 10px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }
pre {
	background-color: var(--bg-color);
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        white-space: pre-wrap;
        word-wrap: break-word;
}


iframe {
      width: 100%;
      height: 400px;
      border: none;
}
/* Define light and dark mode colors using CSS variables */
:root {
	--bg-color: white;
	--text-color: black;
	--border-color: #ccc;
}

[data-theme="dark"] {
	--bg-color: #121212;
	--text-color: #f5f5f5;
	--border-color: #444;
}


.subview {
	border: 1px solid var(--border-color);
	padding: 10px;
	transition: border-color 0.3s;
}
#map, #timeline, #network, #webpage {
	height: 300px;
	width: 100%;
}

.container {
	border: 1px solid var(--border-color);
	flex-grow: 1;
	overflow-y: auto; /* Enable vertical scrolling for the content area */
	overflow-x: hidden; /* Prevent horizontal scrolling */
	display: flex;
	flex-direction: column;
	padding: 10px;
	height: 100%; /* Ensure it fills the remaining height of the viewport */
	box-sizing: border-box; /* Include padding in the height calculation */
      /* display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px;*/
    }

/* Toggle switch */
.theme-toggle {
	position: absolute;
	top: 10px;
	right: 10px;
}

.theme-toggle input {
	display: none;
}

.theme-toggle label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: #ddd;
	display: block;
	border-radius: 25px;
	position: relative;
}

.theme-toggle label:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      width: 21px;
      height: 21px;
      background: white;
      border-radius: 21px;
      transition: 0.3s;
}

input:checked + label {
      background: #444;
}

input:checked + label:after {
      left: calc(100% - 2px);
      transform: translateX(-100%);
}

label:active:after {
      width: 28px;
}
#cy {
        width: 100%;
        height: 600px;
        border: 1px solid #ccc;
}

#controls {
	margin-bottom: 20px;
}

/* Tab styling */
.tab {
	background-color: var(--bg-color);
	color: var(--text-color);
	overflow: hidden;
        border: 1px solid #ccc;
}

.tab button {
	background-color: var(--bg-color);
	color: var(--text-color);
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
}

.tab button:hover {
	background-color: var(--bg-color);
	color: var(--text-color);
}

.tab button.active {
	background-color: var(--bg-color);
	color: var(--text-color);
}


	/* Tab content styling */
	.tabcontent {
		background-color: var(--bg-color);
		color: var(--text-color);
		display: none;
            padding: 20px;
            border: 1px solid #ccc;
            border-top: none;
        }

        /* Form container styling */
	.form-container {
		display: flex;
		background-color: var(--bg-color);
		color: var(--text-color);
		gap: 20px; /* Space between the forms */
		margin-bottom: 20px;
		height: 350px;
        }

        .form-section {
		flex: 1; /* Each form takes equal space */
		display: flex;
		flex-direction: column;
		background-color: var(--bg-color);
		color: var(--text-color);
		padding: 20px;
		border: 1px solid #ccc;
		border-radius: 8px;
		overflow: hidden;
        }
	.form-content {
		flex: 1;
		padding: 20px;
		overflow-y: auto;
	}

        .form-section h2 {
		background-color: var(--bg-color);
		color: var(--text-color);
            margin-top: 0;
        }

        .form-section input[type="text"],
        .form-section input[type="number"] {
		background-color: var(--bg-color);
		color: var(--text-color);
            width: 100%;
            padding: 8px;
            margin-bottom: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .form-section input[type="create_business"],
	.form-section input[type="create_social_media"] {
		background-color: var(--bg-color);
		color: var(--text-color);
		padding: 10px 20px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
        }

        .form-section input[type="create_business"]:hover {
		background-color: var(--bg-color);
		color: var(--text-color);
        }

        /* Container for submitted data */
        .data-container {
		background-color: var(--bg-color);
		color: var(--text-color);
		margin-top: 20px;
        }

        /* Horizontal layout for user data */
        .horizontal-layout {
		background-color: var(--bg-color);
		color: var(--text-color);
		display: flex;
		gap: 20px;
		overflow-x: auto; /* Enable horizontal scrolling if needed */
        }

        .horizontal-layout .data-item {
		background-color: var(--bg-color);
		color: var(--text-color);
		flex: 0 0 auto; /* Prevent flex items from growing or shrinking */
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 4px;
        }

        /* Vertical layout for product data */
        .vertical-layout .data-item {
		background-color: var(--bg-color);
		color: var(--text-color);
		margin-bottom: 10px;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 4px;
        }


        /* Analysis view styling */
        .analysis-view,
        .company-specific-view,
        .global-view {
		background-color: var(--bg-color);
		color: var(--text-color);
		padding: 20px;
		border: 1px solid #ccc;
		border-radius: 8px;
        }

        .analysis-view h2,
        .company-specific-view h2,
        .global-view h2 {
		background-color: var(--bg-color);
		color: var(--text-color);
		margin-top: 0;
        }
        .analysis-view h3,
        .company-specific-view h3,
        .global-view h3 {
		background-color: var(--bg-color);
		color: var(--text-color);
		margin-top: 0;
        }

        .analysis-view p,
        .company-specific-view p,
        .global-view p {
		background-color: var(--bg-color);
		color: var(--text-color);
		font-size: 18px;
        }
    </style>
</head>

<body>
  <div class="theme-toggle">
	  <input type="checkbox" id="theme-switch">
	  <label for="theme-switch">
		  Toggle Theme</label>
  </div>

    <h1>VPN Transparency Report</h1>

    <!-- Tab links -->
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'FormView')">Add/Update Company Information</button>
        <button class="tablinks" onclick="openTab(event, 'AnalystView')">Company-Specific Analysis</button>
        <button class="tablinks" onclick="openTab(event, 'CompanySpecificView')">Source Code Viewer</button>
        <button class="tablinks" onclick="openTab(event, 'GlobalView')">Global View</button>
    </div>

    <!-- Form View -->
    <div id="FormView" class="tabcontent">
	<div class="form-container">
		<!-- User Form -->
		<div class="form-section">
			<h2>Business Transparency</h2>
			<label for="companySubmit">Select a Company:</label>
			<select id="companySubmit">
				{% for company in companies %}
				<option value="{{ company[0] }}">{{ company[1] }}</option>
				{% endfor %}
			</select>

			<div class="form-content">
				<!-- Create a new company -->
				<form id="entryForm">
					<div id="business">
						<h3>VPN Provider Information</h3>
						<label for="company_name">VPN Provider Name</label>
						<input type="text" id="company_name" name="company_name" required><br><br>
						<label for="address">Address</label>
						<input type="text" id="address" name="address"><br><br>
						<label for="latitude">Latitude</label>
						<input type="number" id="latitude" name="latitude"><br><br>
						<label for="longitude">Longitude</label>
						<input type="number" id="longitude" name="longitude"><br><br>
						<label for="incorporation_date">Incorporation Date</label>
						<input type="datetime-local" id="incorporation_date" name="incorporation_date"><br><br>
					</div>
				</form>
				<button id="create_business", onclick="create_business()">Submit Business</button>
				<form id="entryForm">
					<div id="opencorporates">
						<h3>Open Corporates</h3>
							<label for="oc_query_string">Query String</label>
							<input type="text" id="oc_query_string" name="oc_query_string" required><br><br>
							<label for="oc_url">URL</label>
							<input type="text" id="oc_url" name="oc_url"><br><br>
							<label for="oc_company_number">Company Number</label>
							<input type="number" id="oc_company_number" name="oc_company_number"><br><br>
							<label for="oc_status">Status</label>
							<input type="text" id="oc_status" name="oc_status"><br><br>
							<label for="oc_incorporation_date">Incorporation Date</label>
							<input type="datetime-local" id="oc_incorporation_date" name="oc_incorporation_date"><br><br>
							<label for="oc_company_type">Company Type</label>
							<input type="text" id="oc_company_type" name="oc_company_type"><br><br>
							<label for="oc_jurisdiction">Jurisdiction</label>
							<input type="text" id="oc_jurisdiction" name="oc_jurisdiction"><br><br>
							<label for="oc_registered_address_name">Registered Address Name</label>
							<input type="text" id="oc_registered_address_name" name="oc_registered_address_name"><br><br>
							<label for="oc_registered_address_street">Registered Address Street</label>
							<input type="text" id="oc_registered_address_street" name="oc_registered_address_street"><br><br>
							<label for="oc_registered_address_city">Registered Address City</label>
							<input type="text" id="oc_registered_address_city" name="oc_registered_address_city"><br><br>
							<label for="oc_registered_address_state">Registered Address State</label>
							<input type="text" id="oc_registered_address_state" name="oc_registered_address_state"><br><br>
							<label for="oc_registered_address_country">Registered Address Country</label>
							<input type="text" id="oc_registered_address_country" name="oc_registered_address_country"><br><br>
							<label for="oc_registered_address_zip">Registered Address Zip</label>
							<input type="number" id="oc_registered_address_zip" name="oc_registered_address_zip"><br><br>
							<label for="oc_director_officer">Director/Officer</label>
							<input type="text" id="oc_director_officer" name="oc_director_officer"><br><br>
							<label for="oc_data_source_last_updated">Data Source Last Updated</label>
							<input type="datetime-local" id="oc_data_source_last_updated" name="oc_data_source_last_updated"><br><br>
							<label for="oc_data_source_last_changed">Data Source Last Changed</label>
							<input type="datetime-local" id="oc_data_source_last_changed" name="oc_data_source_last_changed"><br><br>
							<label for="oc_data_source_url">Data Source Url</label>
							<input type="text" id="oc_data_source_url" name="oc_data_source_url"><br><br>
					</div>
				</form>
				<button id="create_business", onclick="create_business_open_corporates_fn()">Submit O.C.</button>
				<form id="entryForm">
					<div id="opencorporates_tm">
						<h3>Open Corporates - Trademark</h3>
							<label for="oc_mark_text">Mark Text</label>
							<input type="text" id="oc_mark_text" name="oc_mark_text" required><br><br>
							<label for="oc_image_url">Image URL</label>
							<input type="text" id="oc_image_url" name="oc_image_url"><br><br>
							<label for="oc_register">Register</label>
							<input type="text" id="oc_register" name="oc_register"><br><br>
							<label for="oc_nice_classification">Nice Classification</label>
							<input type="text" id="oc_nice_classification" name="oc_nice_classification"><br><br>
							<label for="oc_registration_date">Registration Date</label>
							<input type="datetime-local" id="oc_registration_date" name="oc_registration_date"><br><br>
							<label for="oc_expiry">Expiry</label>
							<input type="datetime-local" id="oc_expiry" name="oc_expiry"><br><br>
							<label for="oc_trademark_url">Trademark URL</label>
							<input type="text" id="oc_trademark_url" name="oc_trademark_url"><br><br>
							<label for="oc_source_url">Source URL</label>
							<input type="text" id="oc_source_url" name="oc_source_url"><br><br>
							<label for="oc_holder_name">Holder Name</label>
							<input type="text" id="oc_holder_name" name="oc_holder_name"><br><br>
							<label for="oc_holder_address_street">Holder Address Street</label>
							<input type="text" id="oc_holder_address_street" name="oc_holder_address_street"><br><br>
							<label for="oc_holder_address_city">Holder Address City</label>
							<input type="text" id="oc_holder_address_city" name="oc_holder_address_city"><br><br>
							<label for="oc_holder_address_state">Holder Address State</label>
							<input type="text" id="oc_holder_address_state" name="oc_holder_address_state"><br><br>
							<label for="oc_holder_address_country">Holder Address Country</label>
							<input type="text" id="oc_holder_address_country" name="oc_holder_address_country"><br><br>
							<label for="oc_holder_address_zip">Holder Address_zip</label>
							<input type="number" id="oc_holder_address_zip" name="oc_holder_address_zip"><br><br>
							<label for="oc_holder_latitude">Holder Latitude</label>
							<input type="number" id="oc_holder_latitude" name="oc_holder_latitude"><br><br>
							<label for="oc_holder_longitude">Holder Longitude</label>
							<input type="number" id="oc_holder_longitude" name="oc_holder_longitude"><br><br>
							<label for="oc_correspondent_name">Correspondent Name</label>
							<input type="text" id="oc_correspondent_name" name="oc_correspondent_name"><br><br>
							<label for="oc_correspondent_address_street">Correspondent Address Street</label>
							<input type="text" id="oc_correspondent_address_street" name="oc_correspondent_address_street"><br><br>
							<label for="oc_correspondent_address_city">Correspondent Address City</label>
							<input type="text" id="oc_correspondent_address_city" name="oc_correspondent_address_city"><br><br>
							<label for="oc_correspondent_address_state">Correspondent Address State</label>
							<input type="text" id="oc_correspondent_address_state" name="oc_correspondent_address_state"><br><br>
							<label for="oc_correspondent_address_country">Correspondent Address Country</label>
							<input type="text" id="oc_correspondent_address_country" name="oc_correspondent_address_country"><br><br>
							<label for="oc_correspondent_address_latitude">Correspondent Address Latitude</label>
							<input type="number" id="oc_correspondent_address_latitude" name="oc_correspondent_address_latitude"><br><br>
							<label for="oc_correspondent_address_longitude">Correspondent Address Longitude</label>
							<input type="number" id="oc_correspondent_address_longitude" name="oc_correspondent_address_longitude"><br><br>
							<label for="oc_trademark_notes">Trademark Notes</label>
							<input type="text" id="oc_trademark_notes" name="oc_trademark_notes"><br><br>
					</div>
				</form>
				<button id="create_oc_trademarks", onclick="create_oc_trademarks_fn()">Submit Trademark</button>

			</div>
		</div>

		<!-- Product Form -->
		<div class="form-section">
			<!-- TODO: Fix the input methods -->
			<h2>Social Media Transparency</h2>
			<label for="companySubmitSM">Select a Company:</label>
			<select id="companySubmitSM">
				{% for company in companies %}
				<option value="{{ company[0] }}">{{ company[1] }}</option>
				{% endfor %}
			</select>
			<div class="form-content">
				<!-- Create a new company -->
				<form id="entryForm">
					<div id="twitter">
						<h3>Twitter/X Info</h3>
						<label for="x_profile_name">Profile Name</label>
						<input type="text" id="x_profile_name" name="x_profile_name" required><br><br>
						<label for="x_follower_count">Follower Count</label>
						<input type="number" id="x_follower_count" name="x_follower_count"><br><br>
						<label for="x_following_count">Following Count</label>
						<input type="number" id="x_following_count" name="x_following_count"><br><br>
						<label for="x_location">Location</label>
						<input type="text" id="x_location" name="x_location"><br><br>
						<label for="x_joined_date">Joined Date</label>
						<input type="datetime-local" id="x_joined_date" name="x_joined_date"><br><br>
					</div>
				</form>
				<form id="entryForm">
					<div id="Facebook">
						<h3>Fakebook Info</h3>
						<label for="fb_profile_name">Profile Name</label>
						<input type="text" id="fb_profile_name" name="fb_profile_name" required><br><br>
						<label for="follower_count">Follower Count</label>
						<input type="number" id="fb_follower_count" name="fb_follower_count"><br><br>
						<label for="fb_location">Location</label>
						<input type="text" id="fb_location" name="fb_location"><br><br>
						<label for="fb_joined_date">Joined Date</label>
						<input type="datetime-local" id="fb_joined_date" name="fb_joined_date"><br><br>
					</div>
				</form>

				<button id="create_social_media", onclick="create_social_media_fn()">Submit Social Media</button>
			</div>
		</div>
	</div>
	<div class="form-container">
		<div class="form-section">
			<!-- TODO: Fix the input methods -->
			<h2>Domain/Network Transparency</h2>
			<label for="companySubmitDN">Select a Company:</label>
			<select id="companySubmitDN">
				{% for company in companies %}
				<option value="{{ company[0] }}">{{ company[1] }}</option>
				{% endfor %}
			</select>
			<div class="form-content">
				<!-- Create a new company -->
				<form id="entryForm">
					<div id="domain">
						<h3>Domain Info</h3>
						<label for="domain_name">Domain Name</label>
						<input type="text" id="domain_name" name="domain_name" required><br><br>
						<label for="domain_address">Address</label>
						<input type="text" id="domain_address" name="domain_address"><br><br>
						<label for="domain_latitude">Latitude</label>
						<input type="number" id="domain_latitude" name="domain_latitude"><br><br>
						<label for="domain_longitude">Longitude</label>
						<input type="number" id="domain_longitude" name="domain_longitude"><br><br>
						<label for="domain_registration_date">Registration Date</label>
						<input type="datetime-local" id="domain_registration_date" name="domain_registration_date"><br><br>
						<label for="domain_registrar">Registrar</label>
						<input type="text" id="domain_registrar" name="domain_registrar"><br><br>
						<label for="domain_registrar_abuse_email">Registrar Abuse Email</label>
						<input type="text" id="domain_registrar_abuse_email" name="domain_registrar_abuse_email"><br><br>
						<label for="domain_registrar_phone">Registrar Phone Number</label>
						<input type="text" id="domain_registrar_phone" name="domain_registrar_phone"><br><br>
						<label for="domain_registrant">Registrant Name</label>
						<input type="text" id="domain_registrant" name="domain_registrant"><br><br>
						<label for="domain_registrant_organization">Registrant Organization</label>
						<input type="text" id="domain_registrant_organization" name="domain_registrant_organization"><br><br>
					</div>
				</form>
				<button id="create_domain_network", onclick="create_domain_network_fn()">Submit Domain/Network</button>
			</div>
		</div>
		<div class="form-section">
			<!-- TODO: Fix the input methods -->
			<h2>Code Transparency</h2>
			<label for="companySubmitCT">Select a Company:</label>
			<select id="companySubmitCT">
				{% for company in companies %}
				<option value="{{ company[0] }}">{{ company[1] }}</option>
				{% endfor %}
			</select>
			<div class="form-content">
				<!-- Create a new company -->
				<form id="entryForm">
					<label for="github_account_name">Github Account Name</label>
					<input type="text" id="github_account_name" name="github_account_name"><br><br>
					<label for="github_account_exists">Github Account Exists?</label>
					<input type="checkbox" id="github_account_exists" name="github_account_exists" value="false"><br><br>

					<label for="gitlab_account_name">Gitlab Account Name</label>
					<input type="text" id="gitlab_account_name" name="gitlab_account_name"><br><br>
					<label for="gitlab_account_exists">Gitlab Account Exists?</label>
					<input type="checkbox" id="gitlab_account_exists" name="gitlab_account_exists" value="false"><br><br>

					<label for="gitee_account_name">Gitee Account Name</label>
					<input type="text" id="gitee_account_name" name="gitee_account_name"><br><br>
					<label for="gitee_account_exists">Gitee Account Exists?</label>
					<input type="checkbox" id="gitee_account_exists" name="gitee_account_exists" value="false"><br><br>
					<label for="is_open_source">Is Open Source?</label>
					<input type="checkbox" id="is_open_source" name="is_open_source" value="false"><br><br>

				</form>
				<!-- Create a new company -->
				<form id="entryForm">
					<label for="github_comment_url">Github Comment URL </label>
					<input type="text" id="github_comment_url" name="github_comment_url" required><br><br>
					<label for="github_comment">Github Comment</label>
					<input type="text" id="github_comment" name="github_comment" required><br><br>
				</form>

				<button id="create_code_transparency", onclick="create_code_transparency_fn()">Submit Code Transparency</button>
			</div>
		</div>
	</div>
	<div class="form-container">
		<div class="form-section">
			<!-- TODO: Fix the input methods -->
			<h2>Miscellaneous Security</h2>
			<label for="companySubmitMiscGP">Select a Company:</label>
			<select id="companySubmitMiscGP">
				{% for company in companies %}
				<option value="{{ company[0] }}">{{ company[1] }}</option>
				{% endfor %}
			</select>
			<div class="form-content">
				<form id="entryForm">
					<div id="distribution">
						<h3>Distribution - Google Play </h3>
						<label for="gp_url">Google Play URL</label>
						<input type="text" id="gp_url" name="gp_url" ><br><br>
						<label for="gp_app_name">App Name</label>
						<input type="text" id="gp_app_name" name="gp_app_name" ><br><br>
						<label for="gp_developer">Developer</label>
						<input type="text" id="gp_developer" name="gp_developer" ><br><br>
						<label for="gp_contains_ads">Contains Ads</label>
						<input type="text" id="gp_contains_ads" name="gp_contains_ads" ><br><br>
						<label for="gp_stars">Stars</label>
						<input type="number" id="gp_stars" name="gp_stars" ><br><br>
						<label for="gp_reviews">Reviews</label>
						<input type="number" id="gp_reviews" name="gp_reviews" ><br><br>
						<label for="gp_downloads">Downloads</label>
						<input type="number" id="gp_downloads" name="gp_downloads" ><br><br>
						<label for="gp_rating">Rating</label>
						<input type="number" id="gp_rating" name="gp_rating" ><br><br>
						<label for="gp_website">Website</label>
						<input type="text" id="gp_website" name="gp_website" ><br><br>
						<label for="gp_support_email">Support Email</label>
						<input type="text" id="gp_support_email" name="gp_support_email" ><br><br>
						<label for="gp_privacy_policy">Privacy Policy</label>
						<input type="text" id="gp_privacy_policy" name="gp_privacy_policy" ><br><br>
						<label for="gp_address_street">Address Street</label>
						<input type="text" id="gp_address_street" name="gp_address_street" ><br><br>
						<label for="gp_address_city">Address City</label>
						<input type="text" id="gp_address_city" name="gp_address_city" ><br><br>

						<label for="gp_address_state">Address State</label>
						<input type="text" id="gp_address_state" name="gp_address_state"><br><br>

						<label for="gp_address_country">Address Country</label>
						<input type="text" id="gp_address_country" name="gp_address_country" ><br><br>
						<label for="gp_address_zipcode">Address Zipcode</label>
						<input type="text" id="gp_address_zipcode" name="gp_address_zipcode" ><br><br>
						<label for="gp_contact_email">Contact Email</label>
						<input type="text" id="gp_contact_email" name="gp_contact_email"><br><br>

						<label for="gp_contact_developer_name">Contact Developer Name</label>
						<input type="text" id="gp_contact_developer_name" name="gp_contact_developer_name" ><br><br>
						<label for="gp_phone_number">Phone Number</label>
						<input type="text" id="gp_phone_number" name="gp_phone_number" ><br><br>
					</div>
				</form>
				<button id="create_distribution_google_play", onclick="create_distribution_google_play_fn()">Submit Google Play</button>

			</div>
		</div>
		<div class="form-section">
			<!-- TODO: Fix the input methods -->
			<h2>Manual Analysis</h2>
			<label for="companySubmit">Select a Company:</label>
			<select id="companySubmit">
				{% for company in companies %}
				<option value="{{ company[0] }}">{{ company[1] }}</option>
				{% endfor %}
			</select>
			<div class="form-content">
			<form action="{{ url_for('create_social_media') }}" method="post">
				<label for="product_name">Product Name:</label>
				<input type="text" id="product_name" name="product_name" required><br><br>
				<label for="price">Price:</label>
				<input type="number" id="price" name="price" step="0.01" required><br><br>
				<input type="submit" value="Submit Product">
			</form>
			</div>
		</div>
	</div>
	<div class="form-container">
		<div class="form-section">
			<!-- DONE -->
			<h2>Delete Company</h2>
			<label for="companyDelete">Select a Business to Remove:</label>
			<select id="companyDelete">
				{% for company in companies %}
				<option value="{{ company[0] }}">{{ company[1] }}</option>
				{% endfor %}
			</select>
			<button onclick="delete_business()">Delete Business</button>
		</div>
	</div>

    </div>

    <!-- Analyst View -->
    <div id="AnalystView" class="tabcontent">
        <div class="analysis-view">
            <h2>Analyst View</h2>
	    <h3 id="company-name">
		    Loading Company Name...
	    </h3>
	    <label for="companySelect">Select a Company:</label>
            <select id="companySelect">
                {% for company in companies %}
                    <option value="{{ company[0] }}">{{ company[1] }}</option>
                {% endfor %}
            </select>
            <button onclick="fetchCompanyData()">Load Data</button>
	    <!-- Geospatial View -->
	    <div class="subview">
		    <h2>Geospatial Information</h2>
		    <div id="map"></div>
	    </div>
	    <!-- Timeline View -->
	    <div class="subview">
		    <h2>Event Timeline</h2>
		    <canvas id="timeline"></canvas>
	    </div>
	    <!-- Relationship Network Graph View -->
	    <div class="subview">
		    <h2>Relationship Network Graph</h2>
		    <button id="filterVPNs">
			    Show Only VPNs</button>
		    <button id="resetFilter">
			    Reset Filter</button>
		    <button id="cluster">
			    Cluster Layout</button>
		    <div id="cy"></div>
	    </div>
	    <!-- Embedded Webpage View -->
	    <div class="subview">
		    <h2>Webpage View</h2>
		    <div id="webpage" 
			 class="carousel slide"
			 data-bs-ride="carousel">
			 <div class="carousel-inner">
				 <div class="carousel-item active">
					 <iframe src="https://web.archive.org/web/20180412092237/https://play.google.com/store/apps/details?id=free.vpn.unblock.proxy.turbovpn&hl=en_US" title="Page 2"></iframe>
				 </div>
				 <div class="carousel-item">
					 <iframe src="https://web.archive.org/web/20250106170609/https://opencorporates.com/companies/sg/201812738K" title="Page 3"></iframe>
				 </div>
			 </div>
			 <button class="carousel-control-prev" type="button" data-bs-target="#iframeCarousel" data-bs-slide="prev">
				 <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				 <span class="visually-hidden">Previous</span>
			 </button>
			 <button class="carousel-control-next" type="button" data-bs-target="#iframeCarousel" data-bs-slide="next">
				 <span class="carousel-control-next-icon" aria-hidden="true"></span>
				 <span class="visually-hidden">Next</span>
			 </button>
		    </div>
	    </div>
	</div>
    </div>

    <!-- Company-Specific View -->
    <div id="CompanySpecificView" class="tabcontent">
        <div class="company-specific-view">
            <h2>Company-Specific Information</h2>
            {% for category in company_categories %}
                <p><strong>{{ category[0] }}:</strong> {{ category[1] }} entries</p>
            {% endfor %}
        </div>
    </div>

    <!-- Global View -->
    <div id="GlobalView" class="tabcontent">
        <div class="global-view">
            <h2>Global View</h2>
            <p><strong>Total Companies:</strong> {{ total_companies }}</p>
            <p><strong>Average Revenue:</strong> ${{ "%.2f"|format(avg_revenue) }}</p>
        </div>
    </div>

    <script>
	    // BEGIN: Them and tab switching
	    function openTab(evt, tabName) {
		    // Hide all tab content
		    var tabcontent = document.getElementsByClassName("tabcontent");
		    for (var i = 0; i < tabcontent.length; i++) {
			tabcontent[i].style.display = "none";
		    }

		    // Remove the "active" class from all tab buttons
		    var tablinks = document.getElementsByClassName("tablinks");
		    for (var i = 0; i < tablinks.length; i++) {
			tablinks[i].className = tablinks[i].className.replace(" active", "");
		    }

		    // Show the current tab and add the "active" class to the button
		    document.getElementById(tabName).style.display = "block";
		    evt.currentTarget.className += " active";
	    }
	    // Open the default tab (Form View) on page load
	    document.getElementsByClassName("tablinks")[0].click();
	    const themeSwitch = document.getElementById('theme-switch');
	    themeSwitch.addEventListener('change', function() {
		    if (this.checked) {
			    document.documentElement.setAttribute('data-theme', 'dark');
		    } else {
			    document.documentElement.setAttribute('data-theme', 'light');
		    }
	    });
	    // Save the theme preference to localStorage (optional
	    const currentTheme = localStorage.getItem('theme');
	    if (currentTheme) {
		    document.documentElement.setAttribute('data-theme', currentTheme);
		    themeSwitch.checked = currentTheme === 'dark';
	    }
	    themeSwitch.addEventListener('change', function() {
		    const theme = this.checked ? 'dark' : 'light';
		    document.documentElement.setAttribute('data-theme', theme);
		    localStorage.setItem('theme', theme);  // Save the selected theme
	    });
	    // END: Them and tab switching

	    // BEGIN: Create/Update Company Information
	    // Create or Update an entry
	    function create_business_fn() {
		    event.preventDefault();
		    const formData = {
			    company_id: document.getElementById('companySubmit').value,
			    company_name: document.getElementById('company_name').value,
			    address: document.getElementById('address').value,
			    latitude: document.getElementById('latitude').value,
			    longitude: document.getElementById('longitude').value,
			    incorporation_date: document.getElementById('incorporation_date').value
		    };
		    const methodBool = formData.company_id == -1;
		    let method = 'POST';
		    let url = '/api/create_business';
		    if (methodBool) {
			    method = 'POST';
			    url = '/api/create_business';
		    } else {
			    method = 'PUT';
			    url  = `/api/update_business/${formData.company_id}`;
		    }
		    fetch(url, {
			    method: method,
			    headers: {
				    'Content-Type': 'application/json'
			    },
			    body: JSON.stringify(formData)
		    }).then(response => {
			    if (response.ok) {
				    window.location.reload();
			    } else {
				    console.error('Error saving company info.');
			    }
		    }).catch(error => console.error('Error saving entry:', error));
	    };

	    function create_business_open_corporates_fn() {
		    event.preventDefault();
		    const formData = {
			    company_id: document.getElementById('companySubmit').value,
			    oc_query_string: document.getElementById('oc_query_string').value,
			    oc_url: document.getElementById('oc_url').value,
			    oc_company_number: document.getElementById('oc_company_number').value,
			    oc_status: document.getElementById('oc_status').value,
			    oc_incorporation_date: document.getElementById('oc_incorporation_date').value,
			    oc_company_type: document.getElementById('oc_company_type').value,
			    oc_jurisdiction: document.getElementById('oc_jurisdiction').value,
			    oc_registered_address_name: document.getElementById('oc_registered_address_name').value,
			    oc_registered_address_street: document.getElementById('oc_registered_address_street').value,
			    oc_registered_address_city: document.getElementById('oc_registered_address_city').value,
			    oc_registered_address_state: document.getElementById('oc_registered_address_state').value,
			    oc_registered_address_country: document.getElementById('oc_registered_address_country').value,
			    oc_registered_address_zip: document.getElementById('oc_registered_address_zip').value,
			    oc_director_officer: document.getElementById('oc_director_officer').value,
			    oc_data_source_last_updated: document.getElementById('oc_data_source_last_updated').value,
			    oc_data_source_last_changed: document.getElementById('oc_data_source_last_changed').value,
			    oc_data_source_url: document.getElementById('oc_data_source_url').value
		    };
		    const methodBool = formData.company_id == -1;
		    let method = 'POST';
		    let url = '/api/create_open_corporates';

		    if (methodBool) {
			    method = 'POST';
			    url = '/api/create_open_corporates';
			    console.log(`I-F - /api/create_open_corporates/${formData.company_id}`)
		    } else {
			    method = 'PUT';
			    url  = `/api/update_open_corporates/${formData.company_id}`;
			    console.log(`E-lse - /api/update_open_corporates/${formData.company_id}`)
		    }
		    fetch(url, {
			    method: method,
			    headers: {
				    'Content-Type': 'application/json'
			    },
			    body: JSON.stringify(formData)
		    }).then(response => {
			    if (response.ok) {
				    // console.log(`${response.ok}`)
				    window.location.reload();
			    } else {
				    console.error('Error saving company info.');
			    }
		    }).catch(error => console.error('Error saving entry:', error));
	    };
	    function create_oc_trademarks_fn() {
			// create_oc_trademarks
		    event.preventDefault();
		    const formData = {
			    company_id: document.getElementById('companySubmit').value,
			    oc_mark_text: document.getElementById('oc_mark_text').value,
			    oc_image_url: document.getElementById('oc_image_url').value,
			    oc_register: document.getElementById('oc_register').value,
			    oc_nice_classification: document.getElementById('oc_nice_classification').value,
			    oc_registration_date: document.getElementById('oc_registration_date').value,
			    oc_expiry: document.getElementById('oc_expiry').value,
			    oc_trademark_url: document.getElementById('oc_trademark_url').value,
			    oc_source_url: document.getElementById('oc_source_url').value,
			    oc_holder_name: document.getElementById('oc_holder_name').value,
			    oc_holder_address_street: document.getElementById('oc_holder_address_street').value,
			    oc_holder_address_city: document.getElementById('oc_holder_address_city').value,
			    oc_holder_address_state: document.getElementById('oc_holder_address_state').value,
			    oc_holder_address_country: document.getElementById('oc_holder_address_country').value,
			    oc_holder_address_zip: document.getElementById('oc_holder_address_zip').value,
			    oc_holder_latitude: document.getElementById('oc_holder_latitude').value,
			    oc_holder_longitude: document.getElementById('oc_holder_longitude').value,
			    oc_correspondent_name: document.getElementById('oc_correspondent_name').value,
			    oc_correspondent_address_street: document.getElementById('oc_correspondent_address_street').value,
			    oc_correspondent_address_city: document.getElementById('oc_correspondent_address_city').value,
			    oc_correspondent_address_state: document.getElementById('oc_correspondent_address_state').value,
			    oc_correspondent_address_country: document.getElementById('oc_correspondent_address_country').value,
			    oc_correspondent_address_latitude: document.getElementById('oc_correspondent_address_latitude').value,
			    oc_correspondent_address_longitude: document.getElementById('oc_correspondent_address_longitude').value,
			    oc_trademark_notes: document.getElementById('oc_trademark_notes').value
		    };
		    const methodBool = formData.company_id == -1;
		    let method = 'POST';
		    let url = '/api/create_oc_trademarks';

		    if (methodBool) {
			    method = 'POST';
			    url = '/api/create_oc_trademarks';
			    console.log(`I-F - /api/create_oc_trademarks/${formData.company_id}`)
		    } else {
			    method = 'PUT';
			    url  = `/api/update_oc_trademarks/${formData.company_id}`;
			    console.log(`E-lse - /api/update_oc_trademarks/${formData.company_id}`)
		    }
		    fetch(url, {
			    method: method,
			    headers: {
				    'Content-Type': 'application/json'
			    },
			    body: JSON.stringify(formData)
		    }).then(response => {
			    if (response.ok) {
				    // console.log(`${response.ok}`)
				    window.location.reload();
			    } else {
				    console.error('Error saving company info.');
			    }
		    }).catch(error => console.error('Error saving entry:', error));
	    };
	    function delete_business(){
		    const company_id = document.getElementById('companyDelete').value;
		    fetch(`/api/delete_business/${company_id}`, {
			    method: 'DELETE'
		    }).then(response => {
			    if (response.ok) {
				    window.location.reload();
			    } else {
				    console.error('Error deleting company info.');
			    }
		    }).catch(error => console.error('Error deleting entry:', error));
	    };



	    // Analysis view scriptso
	    const companyId = window.location.pathname.split('/').pop();
	    function fetchCompanyData() {
		    const company_id = document.getElementById('companySelect').value;
		    if (company_id != -1) {
			    fetch(`/api/vpn-company/${company_id}`)
				    .then(response => response.json())
				    .then(data => {
					    updateProfile(data);
				    })
				    .catch(error => {
					    console.error('Error fetching company data:', error);
				    });
		    }
	    }
	    let map; // Declare the map variable globally
	    let isMapInitialized = false; // Flag to track initialization
	    let timelineChart = null;

	    function updateProfile(data) {
		    // Update the company name
		    document.getElementById('company-name').textContent = data.name;
		    // Populate the map
		    if (!isMapInitialized){
			    map = L.map('map').setView([data.locations[0].lat, data.locations[0].lon], 2);
			    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
				    attribution: '&copy; OpenStreetMap contributors'
			    }).addTo(map);
			    isMapInitialized = true;
		    }
		    data.locations.forEach(location => {
			    L.marker([location.lat, location.lon]).addTo(map).bindPopup(location.address);
		    });
		    // Populate the timeline
		    const timelineCtx = document.getElementById('timeline').getContext('2d');
		    // Destroy the existing chart if it exists
		    if (timelineChart) {
			    timelineChart.destroy();
		    }

		    const labels = data.timelineEvents.map(event => event.date);
		    const timelineData = data.timelineEvents.map(() => 1);
		    timelineChart = new Chart(timelineCtx, {
			    type: 'bar',
			    data: {
				    labels: labels,
				    datasets: [{
					    label: 'Company Events',
					    data: timelineData,
					    backgroundColor: 'rgba(75, 192, 192, 0.2)',
					    borderColor: 'rgba(75, 192, 192, 1)',
					    borderWidth: 1
				    }]
			    },
			    options: {
				    scales: {
					    x: { title: { display: true, text: 'Event Dates' }},
					    y: { display: false }
				    }
			    }
		    });
		    // Define nodes and edges
		    const elements = [
			    // Nodes
			    { data: { id: 'vpn1', label: 'VPN Provider 1' } },
			    { data: { id: 'vpn2', label: 'VPN Provider 2' } },
			    { data: { id: 'person1', label: 'Person A' } },
			    { data: { id: 'place1', label: 'Place X' } },
			    { data: { id: 'thing1', label: 'Thing Y' } },
			    // Edges
			    { data: { source: 'vpn1', target: 'person1', label: 'References' } },
			    { data: { source: 'vpn1', target: 'place1', label: 'Located in' } },
			    { data: { source: 'vpn1', target: 'thing1', label: 'Owns' } },
			    { data: { source: 'vpn1', target: 'vpn2', label: 'Partnership' } },
		    ];
		    function updateWebpagePanel() {
			    const webpageContainer = document.getElementById('webpage');
			    webpageContainer.innerHTML = '';
			    const iframe = document.createElement('iframe');
			    iframe.src = "https://web.archive.org/web/20250106170609/https://opencorporates.com/companies/sg/201812738K";
			    iframe.style.width='100%';
			    iframe.style.height='100%';
			    iframe.style.border='none';
			    webpageContainer.appendChild(iframe);
		    }
		    // updateWebpagePanel();
	    }
	    // Call the fetch function to load data dynamically
	    fetchCompanyData();
	    // Toggle dark and light mode
	    const cy = cytoscape({
		    container: document.getElementById('cy'),
		    elements: [],
		    style: [{
			    selector: 'node',
			    style: {
				    'background-color': '#0074D9',
				    'label': 'data(label)',
				    'color': '#fff',
				    'text-halign': 'center',
				    'text-valign': 'center',
			    }
		    },{
			    selector: 'edge',
			    style: {
				    'width': 2,
				    'line-color': '#FF4136',
				    'target-arrow-color': '#FF4136',
				    'target-arrow-shape': 'triangle',
				    'curve-style': 'bezier',
				    'label': 'data(label)',
				    'text-background-color': '#fff',
				    'text-background-opacity': 1,
			    }
		    },{
			    selector: '[type="VPN"]',
			    style: {
				    'background-color': '#2ECC40',
			    }
		    },{
			    selector: '[type="Person"]',
			    style: {
				    'background-color': '#FF851B',
			    }
		    },{
			    selector: '[type="Place"]',
			    style: {
				    'background-color': '#7FDBFF',
			    }
		    },{
			    selector: '[type="Thing"]',
			    style: {
				    'background-color': '#B10DC9',
			    }
		    }
		    ],
		    layout: {
			    name: 'cose',
			    animate: true,
			    padding: 10
		    }
	    });
	    // END: Create/Update Company Information

	    // BEGIN: Create/Update Social Information
	    // Create or Update an entry
	    function create_social_media_fn() {
		    event.preventDefault();
		    const formData = {
			    company_id: document.getElementById('companySubmitSM').value,
			    x_profile_name: document.getElementById('x_profile_name').value,
			    x_follower_count: document.getElementById('x_follower_count').value,
			    x_following_count: document.getElementById('x_following_count').value,
			    x_location: document.getElementById('x_location').value,
			    x_joined_date: document.getElementById('x_joined_date').value,

			    fb_profile_name: document.getElementById('fb_profile_name').value,
			    fb_follower_count: document.getElementById('fb_follower_count').value,
			    fb_location: document.getElementById('fb_location').value,
			    fb_joined_date: document.getElementById('fb_joined_date').value,

		    };
		    const methodBool = formData.company_id == -1;
		    let method = 'POST';
		    let url = '/api/create_social_media';
		    if (methodBool) {
			    method = 'POST';
			    url = '/api/create_social_media';
		    } else {
			    method = 'PUT';
			    url  = `/api/update_social_media/${formData.company_id}`;
		    }
		    fetch(url, {
			    method: method,
			    headers: {
				    'Content-Type': 'application/json'
			    },
			    body: JSON.stringify(formData)
		    }).then(response => {
			    if (response.ok) {
				    window.location.reload();
			    } else {
				    console.error('Error saving social media info.');
			    }
		    }).catch(error => console.error('Error saving social media:', error));
	    };
	    // BEGIN: Create/Update Domain/Network Information
	    // Create or Update an entry
	    function create_domain_network_fn() {
		    event.preventDefault();
		    const formData = {
			    company_id: document.getElementById('companySubmitDN').value,
			    domain_name: document.getElementById('domain_name').value,
			    domain_address: document.getElementById('domain_address').value,
			    domain_latitude: document.getElementById('domain_latitude').value,
			    domain_longitude: document.getElementById('domain_longitude').value,
			    domain_registration_date: document.getElementById('domain_registration_date').value,

			    domain_registrar: document.getElementById('domain_registrar').value,
			    domain_registrar_abuse_email: document.getElementById('domain_registrar_abuse_email').value,
			    domain_registrar_phone: document.getElementById('domain_registrar_phone').value,
			    domain_registrant: document.getElementById('domain_registrant').value,
			    domain_registrant_organization: document.getElementById('domain_registrant_organization').value,
		    };
		    const methodBool = formData.company_id == -1;
		    let method = 'POST';
		    let url = '/api/create_domain_network';
		    if (methodBool) {
			    method = 'POST';
			    url = '/api/create_domain_network';
			    console.log(`I-f : /api/create_domain_network/${formData.company_id}`)
		    } else {
			    method = 'PUT';
			    url  = `/api/update_domain_network/${formData.company_id}`;
			    console.log(`E-lse : /api/update_domain_network/${formData.company_id}`)
		    }
		    fetch(url, {
			    method: method,
			    headers: {
				    'Content-Type': 'application/json'
			    },
			    body: JSON.stringify(formData)
		    }).then(response => {
			    if (response.ok) {
				    window.location.reload();
			    } else {
				    console.error('Error saving domain/network info.');
			    }
		    }).catch(error => console.error('Error saving domain/network info.:', error));
	    };
	    // Begin Miscellaneous - Distribution Google play
	    function create_distribution_google_play_fn() {
		    event.preventDefault();
		    const formData = {
			    company_id: document.getElementById('companySubmitMiscGP').value,
			    gp_url: document.getElementById('gp_url').value,
			    gp_app_name: document.getElementById('gp_app_name').value,
			    gp_developer: document.getElementById('gp_developer').value,
			    gp_contains_ads: document.getElementById('gp_contains_ads').value,
			    gp_stars: document.getElementById('gp_stars').value,

			    gp_reviews: document.getElementById('gp_reviews').value,
			    gp_downloads: document.getElementById('gp_downloads').value,
			    gp_rating: document.getElementById('gp_rating').value,
			    gp_website: document.getElementById('gp_website').value,
			    gp_support_email: document.getElementById('gp_support_email').value,
			    gp_privacy_policy: document.getElementById('gp_privacy_policy').value,
			    gp_address_street: document.getElementById('gp_address_street').value,
			    gp_address_city: document.getElementById('gp_support_email').value,
			    gp_address_state: document.getElementById('gp_address_state').value,
			    gp_address_country: document.getElementById('gp_address_country').value,
			    gp_address_zipcode: document.getElementById('gp_address_zipcode').value,
			    gp_contact_email: document.getElementById('gp_contact_email').value,
			    gp_contact_developer_name: document.getElementById('gp_contact_developer_name').value,
			    gp_phone_number: document.getElementById('gp_phone_number').value,
		    };
		    const methodBool = formData.company_id == -1;
		    let method = 'POST';
		    let url = '/api/create_distribution_google_play'; 
		    if (methodBool) {
			    method = 'POST';
			    url = '/api/create_distribution_google_play';
			    console.log(`I-f : /api/create_distribution_google_play/${formData.company_id}`)
		    } else {
			    method = 'PUT';
			    url  = `/api/update_distribution_google_play/${formData.company_id}`;
			    console.log(`E-lse : /api/update_distribution_google_play/${formData.company_id}`)
		    }
		    fetch(url, {
			    method: method,
			    headers: {
				    'Content-Type': 'application/json'
			    },
			    body: JSON.stringify(formData)
		    }).then(response => {
			    if (response.ok) {
				    window.location.reload();
			    } else {
				    console.error('Error saving Google play distribution info.');
			    }
		    }).catch(error => console.error('Error Google play distribution:', error));
	    };
	    function create_code_transparency_fn() {
		    event.preventDefault();
		    const formData = {
			    company_id: document.getElementById('companySubmitCT').value,
			    github_account_name: document.getElementById('github_account_name').value,
			    github_account_exists: document.getElementById('github_account_exists').value,
			    gitlab_account_name: document.getElementById('gitlab_account_name').value,
			    gitlab_account_exists: document.getElementById('gitlab_account_exists').value,
			    gitee_account_name: document.getElementById('gitee_account_name').value,
			    gitee_account_exists: document.getElementById('gitee_account_exists').value,
			    is_open_source: document.getElementById('is_open_source').value,
		    };
		    const methodBool = formData.company_id == -1;
		    let method = 'POST';
		    let url = '/api/create_code_transparency'; 
		    if (methodBool) {
			    method = 'POST';
			    url = '/api/create_code_transparency';
			    console.log(`I-f : /api/create_code_transparency/${formData.company_id}`)
		    } else {
			    method = 'PUT';
			    url  = `/api/update_code_transparency/${formData.company_id}`;
			    console.log(`E-lse : /api/update_code_transparency/${formData.company_id}`)
		    }
		    fetch(url, {
			    method: method,
			    headers: {
				    'Content-Type': 'application/json'
			    },
			    body: JSON.stringify(formData)
		    }).then(response => {
			    if (response.ok) {
				    window.location.reload();
			    } else {
				    console.error('Error saving code transparency info.');
			    }
		    }).catch(error => console.error('Error saving code transparency:', error));
	    };

    </script>
</body>
</html>
